<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>executionStatus</title>
</head>
<body>

  <h1>Watch&Transform</h1>
  <!-- idを付けてJSから書き換えられるようにする -->
  <p id="statusMessage">状態を取得中...</p>

  <button onclick="stopWatching()">監視停止</button>

  <script>
    // ステータスとメッセージのマッピング
    const statusMessages = {
      "WAITING":    "待機中",
      "WATCHING":   "監視中",
      "PROCESSING": "変換処理実行中",
      "COMPLETED":  "WX完了",
      "VALIDATION_ERROR":      "バリデーションエラー発生",
      "SYSTEM_ERROR":  "システムエラー発生",
      "STOPPED":  "ユーザーストップ"
    };

    // 3秒ごとにポーリング
    const intervalId = setInterval(async () => {
      try {
        const res = await fetch("/api/wx/status");
        //JSONとして受け取る
        const data = await res.json();
        const status = data.status;
        const message = data.message;

        //ステータス表示
        let displayText = statusMessages[status] || status;

        //監視中とエラー時とユーザストップ時に詳細表示
        if (status === "WATCHING" || status === "VALIDATION_ERROR" || status === "SYSTEM_ERROR" || status === "STOPPED") {
          if (message){
          displayText += "：" + message;
          }
        }

        // 取得したステータスに対応する日本語を表示
        document.getElementById("statusMessage").textContent = displayText;

        // 終了状態になったらポーリングを止める
        if (status === "COMPLETED" || status === "VALIDATION_ERROR" ||  status ==="SYSTEM_ERROR" || status === "STOPPED") {
          clearInterval(intervalId);
        }

      } catch (e) {
        document.getElementById("statusMessage").textContent = "状態の取得に失敗しました";
        clearInterval(intervalId);
      }
    }, 3000);

    async function stopWatching() {
      const res = await fetch("/api/wx/stopwatching",{
      method: "POST",
      });
      if (!res.ok) {
      const data = await res.json();
      document.getElementById("statusMessage").textContent = data.message;
    }
  }
  </script>

</body>
</html>